.friends {
  padding: 30px;

  &__heading {
    margin-bottom: 10px;
  }

  &__friends-list {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

.friends-list {
  &__item {
    width: 48%;
    background: white;
    border: 2px solid;
    border-radius: 10px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.list-item {
  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: all 1s;

    &:hover {
      background-color: #f8ff7c;
    }
  }
}

.post-number {
  margin-bottom: 10px;
}
