.login-page {
  display: flex;
  align-items: center;
  justify-content: center;

  &__login {
    margin: 0 auto;
    width: 50%;
    min-width: fit-content;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
  }
}

.form {
  color: white;
  font-size: 20px;

  &__form-group {
    display: flex;
    flex-direction: column;
  }

  &__from-label {
    display: block;
    padding: 5px;
    color: #3d0c02;
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    background: white;
    border: 2px solid lightgray;
    border-radius: 10px;
  }

  &__btn {
    margin: 0 auto;
    padding: 10px 70px;
    width: fit-content;
    background-color: cornflowerblue;
    border-radius: 10px;
    transition: all 1s;

    &:disabled {
      opacity: 0.7;
    }

    &:hover {
      background-color: burlywood;

      &:disabled {
        background-color: cornflowerblue;
        cursor: auto;
      }
    }
  }
}

.small-loader {
  margin: 0;
  height: 50px;
  width: 50px;
  background-size: cover;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
}
