.home-page {
  padding: 30px;

  &__content {
    margin: 0 auto;
    width: 50%;
  }

  &__image {
    height: 200px;
    background-image: url('userApp.jpg');
    background-size: cover;
  }

  &__text-content {
    margin-top: 20px;
  }
}

.text-content {
  text-align: center;

  &__heading {
    margin-bottom: 20px;
    font-size: 35px;
  }

  &__text {
    font-size: 30px;
  }
}
